<html>
<head>
<title>activity_correct.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_correct.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;</span><span class="s1">RelativeLayout </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot; </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot; </span><span class="s2">android:paddingLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingTop=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s2">android:paddingBottom=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s2">tools:context=</span><span class="s3">&quot;com.example.callum.first.util.Correct&quot;</span><span class="s0"> 
    </span><span class="s2">android:background=</span><span class="s3">&quot;@color/Green&quot;</span><span class="s0">&gt; 
 
    &lt;</span><span class="s1">TextView </span><span class="s2">android:text=</span><span class="s3">&quot;@string/Correct&quot; </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:capitalize=</span><span class="s3">&quot;words&quot;</span><span class="s0"> 
        </span><span class="s2">android:textColor=</span><span class="s3">&quot;@color/White&quot;</span><span class="s0"> 
        </span><span class="s2">android:gravity=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentEnd=</span><span class="s3">&quot;false&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignWithParentIfMissing=</span><span class="s3">&quot;false&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentRight=</span><span class="s3">&quot;false&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_centerInParent=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/Correct_Text&quot;</span><span class="s0"> 
        </span><span class="s2">android:textSize=</span><span class="s3">&quot;65dp&quot;</span><span class="s0"> 
        </span><span class="s2">android:fontFamily=</span><span class="s3">&quot;impack&quot;</span><span class="s0"> 
        </span><span class="s2">android:enabled=</span><span class="s3">&quot;false&quot; </span><span class="s0">/&gt; 
 
    &lt;</span><span class="s1">Button</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;fill_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s2">android:text=</span><span class="s3">&quot;Back&quot;</span><span class="s0"> 
        </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/Back_Button&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
 
        </span><span class="s2">android:enabled=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">android:clickable=</span><span class="s3">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s2">style=</span><span class="s3">&quot;@android:style/Widget.Material.Light.ButtonBar&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_alignParentEnd=</span><span class="s3">&quot;false&quot;</span><span class="s0"> 
        </span><span class="s2">android:background=</span><span class="s3">&quot;#2a000000&quot; </span><span class="s0">/&gt; 
 
&lt;/</span><span class="s1">RelativeLayout</span><span class="s0">&gt; 
</span></pre>
</body>
</html>