<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.callum.first" >

    <!-- Updated on the 18th at 2.11 -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <!-- &lt;!&ndash; To access Google+ APIs: &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- &lt;!&ndash; -->
    <!-- To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect -->
    <!-- option is required to comply with the Google+ Sign-In developer policies -->
    <!-- &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> &lt;!&ndash; To retrieve the account name (email) as part of sign-in: &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> &lt;!&ndash; To auto-complete the email text field in the login form with the user's emails &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/unnamed"
        android:label="Crosswords"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                //MAIN
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Play"
            android:label="@string/title_activity_play"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PLAY" />
                //PLAY
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- <activity -->
        <!-- android:name=".util.Correct" -->
        <!-- android:label="@string/title_activity_correct" -->
        <!-- android:parentActivityName=".Play" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.util.CORRECT" /> -->
        <!-- // CORRECT -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.example.callum.first.Play" /> -->
        <!-- <activity -->
        <!-- android:name=".enlarge" -->
        <!-- android:label="@string/title_activity_enlarge" -->
        <!-- android:parentActivityName=".Play" > -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.example.callum.first.Play" /> -->
        <!-- </activity> -->
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.Cross"
            android:label="@string/title_activity_cross" >
        </activity>
        <activity
            android:name=".util.Contact"
            android:label="@string/title_activity_contact" >
            <intent-filter>
                <action android:name="android.intent.action.util.Contact" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.Help"
            android:label="@string/title_activity_help" >
            <intent-filter>
                <action android:name="android.intent.action.util.Help" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.Settings"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.util.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Leaderboard"
            android:label="@string/title_activity_leaderboard" >
            <intent-filter>
                <action android:name="android.intent.action.Leaderboard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
